{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-fluid w-75">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		{% if app.flashes("userNull") is defined %}
			{% for message in app.flashes("userNull") %}
				<div class="flash-notice">
					{{message}}
				</div>
			{% endfor %}
		{% else %}
			<form action="{{action}}" method="POST">
				<div class="mb-3">
					<label for="titulo" class="form-label">Título</label>
					<input type="text" class="form-control" id="titulo" name="titulo" value="{{nota.titulo}}">

				</div>

				<div class="mb-3">
					<label for="desc" class="form-label">Descripción</label>
					<input type="text" class="form-control" id="desc" name="desc" value="{{nota.descripcion}}">

				</div>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
		{% endif %}

	</div>
{% endblock %}
